<ul class="list-group">
  <li class="list-group-item mt-4">
    <p class="float-left text-grey"><%= article_comment.user.name %></p>
    <p class="float-right text-grey"><%= article_comment.created_at.strftime('%Y/%m/%d') %></p>
    <div class="mt-4 text-center"><%= article_comment.comment_body %></div>
    <% if article_comment.user == current_user %>
      <%= link_to "コメントを削除", article_comment_path(article_comment.article, article_comment), remote: true, method: :delete, class:"btn btn-danger w-10 float-right mt-4"%>
    <% end %>
  </li>

</ul>

