<h2>オススメ投稿一覧</h2>
<div>
  <p>動画投稿者名</p>
    <table>
      <% @articles.each.with_index(1) do |rank, i| %>
        <%= link_to article_path(rank) do %>
          第<%= i %>位<p><%= rank.title %></p>
        <% end %>
      <% end %>
    </table>
</div>

