<h2 class="text-center">フォロワー一覧</h2><hr>
<% if @users.exists? %>
<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th>ユーザー名</th>
      <th>フォロー数</th>
      <th>フォロワー数</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.followings.count %></td>
        <td><%= user.followers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>