<h1 style="text-align:center">LikeUtube</h1><br>
<h2 style="text-align:center">周りの人にオススメしたい動画投稿者はいませんか？</h2>
<h2 style="text-align:center">さっそくシェアしてみましょう！</h2><br>
<h2 style="text-align:center"><%= link_to "新規登録をして投稿してみる", new_user_registration_path %></h2>