<div class="container">
  <div class="d-flex align-items-center justify-content-center text_center_field">
    <div class="row">
      <h1 class="text-center mx-auto">ようこそ、LikeUtubeへ</h1>
      <h2 class="text-center mx-auto">多くのユーザーがあなたのオススメを待っています！</h2>
    </div>
  </div>
</div>

